
  
  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .auth-form {
    width: 100%;
    max-width: 400px; /* Ajusta este valor según tus necesidades */
    padding: 20px;
  }