ion-content {
    --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  ion-toolbar {
    --background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --color: white;
  }

  ion-back-button {
    --color: white;
  }
  

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .logo {
    width: 150px;
    margin: 0 auto 20px;
  }
  
  .form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .custom-input {
    --background: transparent;
    --border-color: #ccc;
    --border-radius: 5px;
    --padding-start: 10px;
    margin-bottom: 20px;
  }
  
  .custom-button {
    --background: #667eea;
    --background-hover: #764ba2;
    --border-radius: 5px;
    --color: #ffffff;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  
  .custom-button:hover {
    --background: #764ba2;
    transform: translateY(-2px);
  }

  // Estilos para el modo oscuro
:host-context(body.dark) {
  ion-card-title {
      color: white;
  }

  ion-title {
      color: white;
  }

  ion-label {
      color: white;
  }

  ion-input {
      color: white;
  }

  ion-content {
    --background: rgb(19, 19, 19);
  }

  ion-toolbar {
    --background: black;
    --color: white;
  }
}

// Estilos globales para el alert del select en modo oscuro
::ng-deep body.dark {
.alert-wrapper {
    background: #1e1e1e;
}

.alert-radio-label {
    color: white !important;
}

.alert-radio-group {
    background: #1e1e1e;
}

.alert-title {
    color: white;
}

.alert-sub-title {
    color: white;
}

.alert-radio-inner {
    background-color: white !important;
}

.alert-button {
    color: var(--ion-color-primary) !important;
}

.login-form {
  background: rgba(39, 39, 39, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.form-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
}