<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crear vehículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true">
<ion-col class="ion-padding">
  <div class="ion-padding-start ion-padding-end">


    <ion-item>
      <ion-input name="nombrevehiculo" label="Nombre vehículo" labelPlacement="stacked" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.nombrevehiculo"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="marca" label="Marca" labelPlacement="stacked" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.marca"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="modelo" label="Modelo" labelPlacement="stacked" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.modelo"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="anio" label="Año" type="number" labelPlacement="stacked" placeholder="" [counter]="true" maxlength="4" [clearInput]="true" (ionInput)="validarLargoAno($event)" [(ngModel)]="newDatoV.anio"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="patente" label="Patente" labelPlacement="stacked" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.patente"></ion-input>
    </ion-item>
    <br>
    <ion-label>Subir Imagen </ion-label><ion-icon name="cloud-upload-outline"></ion-icon>
    <ion-item>
      <input name="imagen" type="file" accept="image/*" [(ngModel)]="newDatoV.imagen" />
    </ion-item>
    <br>

<div class="align-right">
  <ion-button type="submit" (click)="addDatosVehiculo()" color="tertiary" class="ion-padding-start ion-padding-end">Crear</ion-button>
</div>

  </div>
</ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon aria-hidden="true" name="home" color="tertiary"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="personal" href="/personal">
          <ion-icon aria-hidden="true" name="person" color="tertiary"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon aria-hidden="true" name="car" color="tertiary"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button page="Notificaciones" href="/notificaciones">
          <ion-icon aria-hidden="true" name="notifications" color="tertiary"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>