<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-searchbar color="light" 
                       placeholder="Buscar"
                       [(ngModel)]="searchQuery"
                       (ionInput)="filterVehicles()">
        </ion-searchbar>
        
        <ion-card *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
          <div class="ion-padding">
            <ion-button expand="block" color="tertiary" routerLink="/crearvehiculo">Crear vehículo</ion-button>
          </div>
        </ion-card>

        <ion-card>
          <div class="ion-padding">
            <div class="filter-container">
              <ion-text color="tertiary">
                <b>Filtrar:</b>
              </ion-text>
              <ion-select placeholder="Filtrar por Estado" [(ngModel)]="selectedStatus" (ionChange)="filterVehicles()">
                <ion-select-option value="">Todos los estados</ion-select-option>
                <ion-select-option value="Operativo">Operativo</ion-select-option>
                <ion-select-option value="En mantenimiento">En mantenimiento</ion-select-option>
              </ion-select>
            </div>
          </div>
        </ion-card>

        <ion-card>
          <div class="list-container" style="overflow-y: auto;">
            <ion-list [inset]="true">
              <ion-item *ngFor="let vehicle of filteredVehicles$ | async" [routerLink]="['/perfilvehiculo', vehicle.id]" detail>
                <ion-icon slot="start" name="car-outline"></ion-icon>
                <ion-label>
                  <h2>{{ vehicle.nombrevehiculo }}</h2>
                  <p>Patente: {{ vehicle.patente }} <br> Estado: {{ vehicle.estado }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon name="home" color="tertiary"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button page="personal" href="/personal">
          <ion-icon name="person" color="tertiary"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>

        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon name="car" color="tertiary"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>

        <ion-tab-button page="Mantenciones" href="/mantenciones">
          <ion-icon name="build" color="tertiary"></ion-icon>
          <ion-label>Mantenciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>