<ion-split-pane contentId="main-content" when="md">
  <!-- Sidebar -->
  <ion-menu contentId="main-content">
    <ion-header>
    </ion-header>

    <ion-content>
      <ion-img  
        [src]="darkMode ? 'assets/img/SMCB-dark-mode.svg' : 'assets/img/SMCB-normal.svg'" 
        class="sidebar-logo">
      </ion-img>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <!-- Dashboard -->
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <!-- Reportes -->
          <ion-item routerLink="/reportes" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="bar-chart"></ion-icon>
            <ion-label>Reportes</ion-label>
          </ion-item>

          <!-- Crear Mantención -->
          <ion-item routerLink="/crearmantencion" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            <ion-label>Crear Mantención</ion-label>
          </ion-item>

          <!-- Crear Vehículo -->
          <ion-item routerLink="/crearvehiculo" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="car"></ion-icon>
            <ion-label>Crear Vehículo</ion-label>
          </ion-item>

          <!-- Crear Personal -->
          <ion-item routerLink="/crearpersonal" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>Crear Personal</ion-label>
          </ion-item>
        
          <!-- Personal -->
          <div class="sidebar-footer">
            <ion-item routerLink="/personal" routerDirection="root">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Personal</ion-label>
            </ion-item>

            <!-- Vehículos -->
            <ion-item routerLink="/vehiculos" routerDirection="root">
              <ion-icon slot="start" name="car-sport"></ion-icon>
              <ion-label>Vehículos</ion-label>
            </ion-item>

            <!-- Mantenciones -->
            <ion-item routerLink="/mantenciones" routerDirection="root">
              <ion-icon slot="start" name="build"></ion-icon>
              <ion-label>Mantenciones</ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>

        <!-- Footer options -->
        <div class="sidebar-footer">
          <br>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Modo Oscuro</ion-label>
            <ion-toggle [checked]="darkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
          </ion-item>

          <ion-item (click)="signOut()" button>
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

    <!-- Contenido Principal -->
    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Perfil vehículo</ion-title>
          
          <ion-buttons slot="end">
            <div [routerLink]="['/perfil', currentUserId]" style="display: flex; align-items: center; cursor: pointer;">
              <ion-text class="ion-padding-end">
                <strong>{{ userName }}</strong>
              </ion-text>
              <ion-avatar>
                <img [src]="userPhotoUrl" 
                     (error)="userPhotoUrl = 'assets/default-avatar.svg'"
                     alt="Perfil"
                     onerror="this.src='assets/default-avatar.svg'">
              </ion-avatar>
            </div>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ vehicle?.nombrevehiculo || 'Vehículo' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="7">
        <ion-card *ngIf="!isEditing && vehicle">
          <ion-card-content>
            <div class="profile-image-container">
              <ion-img [src]="imageUrl" [alt]="'Imagen del ' + vehicle.nombrevehiculo" *ngIf="imageUrl" class="profile-image"></ion-img>
            </div>
            <p *ngIf="!imageUrl">No hay imagen disponible</p>
            <br>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="vehicle.nombrevehiculo" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Marca</ion-label>
              <ion-input [(ngModel)]="vehicle.marca" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Modelo</ion-label>
              <ion-input [(ngModel)]="vehicle.modelo" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input [(ngModel)]="vehicle.estado" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Año</ion-label>
              <ion-input [(ngModel)]="vehicle.anio" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Patente</ion-label>
              <ion-input [(ngModel)]="vehicle.patente" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Imagen del vehículo</ion-label> <br>
              <ion-input type="file" (change)="onFileSelected($event)" [disabled]="!isEditing"></ion-input>
            </ion-item>
            <br>
            <div class="align-right">
            <ion-button 
              *ngIf="!isEditing && canEdit" 
              class="ion-padding-start ion-padding-end" 
              expand="block" 
              color="tertiary" 
              (click)="editVehicle()">
              Editar
            </ion-button>
            <ion-button 
              *ngIf="canEdit" 
              class="ion-padding-start ion-padding-end" 
              expand="block" 
              color="danger" 
              (click)="deleteVehicle()">
              Eliminar vehículo
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="isEditing && vehicle">
          <ion-card-header>
            <ion-card-title>Editar vehículo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-select [(ngModel)]="vehicle.estado">
                <ion-select-option value="Operativo">Operativo</ion-select-option>
                <ion-select-option value="En mantenimiento">En mantenimiento</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nombre del vehículo</ion-label>
              <ion-input [(ngModel)]="vehicle.nombrevehiculo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-select name="marca" labelPlacement="stacked" [(ngModel)]="vehicle.marca" required>
                <div slot="label">Marca (*)</div>
                <ion-select-option value="Chevrolet">Chevrolet</ion-select-option>
                <ion-select-option value="Ford">Hyundai</ion-select-option>
                <ion-select-option value="Hyundai">Hyundai</ion-select-option>
                <ion-select-option value="Iveco">Iveco</ion-select-option>
                <ion-select-option value="Mercedes Benz">Mercedes Benz</ion-select-option>
                <ion-select-option value="Nissan">Nissan</ion-select-option>
                <ion-select-option value="Renault">Renault</ion-select-option>
                <ion-select-option value="Scania">Scania</ion-select-option>
                <ion-select-option value="Toyota">Toyota</ion-select-option>
                <ion-select-option value="Volvo">Volvo</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Modelo</ion-label>
              <ion-input [(ngModel)]="vehicle.modelo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Año</ion-label>
              <ion-input type="number" [(ngModel)]="vehicle.anio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Patente</ion-label>
              <ion-input [(ngModel)]="vehicle.patente"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Imagen del vehículo</ion-label>
              <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
            </ion-item>
            <div class="align-right">
            <ion-button 
              class="ion-padding-start ion-padding-end" 
              expand="block" 
              color="success" 
              (click)="saveVehicle()">
              Guardar Cambios
            </ion-button>
            <ion-button 
              class="ion-padding-start ion-padding-end" 
              expand="block" 
              color="medium" 
              (click)="cancelEdit()">
              Cancelar
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-list *ngIf="maintenances.length > 0">
            <ion-card-header>
              <ion-card-title>Mantenciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            <ion-item *ngFor="let maintenance of maintenances" button [routerLink]="['/mantencion-detalle', maintenance.id]">
              <ion-label>
                <h2>{{ maintenance.nombremantencion }}</h2>
                <p>{{ formatDate(maintenance.fechahora) }}</p>
                <p>{{ maintenance.estado }}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
          </ion-list>
          <p class="ion-padding" *ngIf="maintenances.length === 0">No se han encontrado registros de mantención.</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

</div>
</ion-split-pane>