<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear mantención
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true">
<ion-col class="ion-padding">
  <div class="ion-padding-start ion-padding-end">
    <ion-item>
      <ion-select label="Seleccionar vehículo" label-placement="floating">
        <ion-select-option value="idmodelo1">Scania P 410 XT</ion-select-option>
        <ion-select-option value="idmodelo2">Scania UV 500</ion-select-option>
        <ion-select-option value="idmodelo3">Scania UV 600</ion-select-option>
        <ion-select-option value="idmodelo4">Scania H 300</ion-select-option>
        <ion-select-option value="idmodelo5">Scania BT 100</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Nombre mantenimiento" labelPlacement="stacked" placeholder=""></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-select label="Nivel de urgencia" label-placement="floating">
        <ion-select-option value="idurgencia1">Bajo</ion-select-option>
        <ion-select-option value="idurgencia2">Medio</ion-select-option>
        <ion-select-option value="idurgencia3">Alto</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-datetime color="tertiary" display-format="MM/DD/YYYY" picker-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <br>
    <ion-item>
      <ion-textarea class="responsive-textarea" label="Detalle" labelPlacement="floating" placeholder="" style="height: 200px;"></ion-textarea>
    </ion-item>
    <br>

<div class="align-right">
  <ion-button color="tertiary" class="ion-padding-start ion-padding-end">Crear</ion-button>
</div>
  </div>
</ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="personal" href="/personal">
          <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button page="Notificaciones" href="/notificaciones">
          <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>