.responsive-textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    box-sizing: border-box;
  }

/* Añadir esta clase en tu archivo CSS */
.align-right {
  display: flex;
  justify-content: flex-end;
}