/* Añadir esta clase en tu archivo CSS */
.align-right {
    display: flex;
    justify-content: flex-end;
  }

.scrollable-list {
  height: 600px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto;
}