<ion-split-pane contentId="main-content" when="md">
  <!-- Sidebar -->
  <ion-menu contentId="main-content">
    <ion-header>
    </ion-header>

    <ion-content>
      <ion-img  
        [src]="darkMode ? 'assets/img/SMCB-dark-mode.svg' : 'assets/img/SMCB-normal.svg'" 
        class="sidebar-logo">
      </ion-img>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <!-- Dashboard -->
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <!-- Crear Mantención -->
          <ion-item routerLink="/crearmantencion" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            <ion-label>Crear Mantención</ion-label>
          </ion-item>

          <!-- Crear Vehículo -->
          <ion-item routerLink="/crearvehiculo" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="car"></ion-icon>
            <ion-label>Crear Vehículo</ion-label>
          </ion-item>

          <!-- Crear Personal -->
          <ion-item routerLink="/crearpersonal" routerDirection="root" 
                    *ngIf="!['Bombero', 'Mecánico'].includes(userRole)">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>Crear Personal</ion-label>
          </ion-item>
        
          <!-- Personal -->
          <div class="sidebar-footer">
            <ion-item routerLink="/personal" routerDirection="root">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Personal</ion-label>
            </ion-item>

            <!-- Vehículos -->
            <ion-item routerLink="/vehiculos" routerDirection="root">
              <ion-icon slot="start" name="car-sport"></ion-icon>
              <ion-label>Vehículos</ion-label>
            </ion-item>

            <!-- Mantenciones -->
            <ion-item routerLink="/mantenciones" routerDirection="root">
              <ion-icon slot="start" name="build"></ion-icon>
              <ion-label>Mantenciones</ion-label>
            </ion-item>
          </div>
        </ion-menu-toggle>

        <!-- Footer options -->
        <div class="sidebar-footer">
          <br>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Modo Oscuro</ion-label>
            <ion-toggle [checked]="darkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
          </ion-item>

          <ion-item (click)="signOut()" button>
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido Principal -->
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Perfil de {{ personal?.nombres }} {{ personal?.apellidos }}
        </ion-title>
        
        <ion-buttons slot="end">
          <div [routerLink]="['/perfil', currentUserId]" style="display: flex; align-items: center; cursor: pointer;">
            <ion-text class="ion-padding-end">
              <strong>{{ userName }}</strong>
            </ion-text>
            <ion-avatar>
              <img [src]="userPhotoUrl" 
                   (error)="userPhotoUrl = 'assets/default-avatar.svg'"
                   alt="Perfil"
                   onerror="this.src='assets/default-avatar.svg'">
            </ion-avatar>
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" *ngIf="personal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ personal.nombres }} {{ personal.apellidos }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="profile-image-container">
                  <ion-img [src]="imageUrl" alt="Imagen de {{ personal.nombres }}" *ngIf="imageUrl" class="profile-image"></ion-img>
                </div>
                <ng-template #noImage>
                  <p>No hay imagen disponible</p>
                </ng-template>
                <br>
                <ion-item>
                  <ion-label position="floating">Nombres</ion-label>
                  <ion-input [(ngModel)]="personal.nombres" [disabled]="!isEditing"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Apellidos</ion-label>
                  <ion-input [(ngModel)]="personal.apellidos" [disabled]="!isEditing"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input [(ngModel)]="personal.email" [disabled]="!isEditing"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input [(ngModel)]="personal.numeroTelefono" [disabled]="!isEditing"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Rango</ion-label>
                  <ion-input 
                    [(ngModel)]="personal.rango" 
                    [disabled]="!isEditing || (!isSupervisor && isEditing)">
                  </ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-label position="floating">Rol</ion-label>
                  <ion-select 
                    [(ngModel)]="personal.rol" 
                    [disabled]="!isEditing || (!isSupervisor && isEditing)">
                    <ion-select-option value="Supervisor">Supervisor</ion-select-option>
                    <ion-select-option value="Mecánico">Mecánico</ion-select-option>
                    <ion-select-option value="Bombero">Bombero</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Imagen de perfil</ion-label> <br>
                  <ion-input type="file" (change)="onFileSelected($event)" [disabled]="!isEditing"></ion-input>
                </ion-item>
                <br>
                <ion-button 
                  *ngIf="!isEditing && canEdit" 
                  class="ion-padding-start ion-padding-end" 
                  expand="block" 
                  color="tertiary" 
                  (click)="editPersonal()">
                  Editar
                </ion-button>

                <ion-button 
                  *ngIf="isEditing && canEdit" 
                  class="ion-padding-start ion-padding-end" 
                  expand="block" 
                  color="success" 
                  (click)="savePersonal()">
                  Guardar cambios
                </ion-button>

                <ion-button 
                  *ngIf="isEditing && canEdit" 
                  class="ion-padding-start ion-padding-end" 
                  expand="block" 
                  color="medium" 
                  (click)="cancelEdit()">
                  Cancelar
                </ion-button>

                <ion-button 
                  *ngIf="canEdit" 
                  class="ion-padding-start ion-padding-end" 
                  expand="block" 
                  color="danger" 
                  (click)="deletePersonal()">
                  Eliminar Perfil
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>