<ion-app>

  <ion-menu side="start" menuId="hamburguesa" contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <br>
      <ion-img src="assets/img/smcb.png" class="ion-padding-start ion-padding-end"></ion-img>
      <br>
      <br>
      <h3 class="ion-padding-start ion-padding-end">Bienvenido</h3>
      <ion-list>
        <ion-menu-toggle *ngFor="let componente of componentes">
          <ion-item [routerLink]="[componente.redirecTo]" 
                  detail="true">
            <ion-icon slot="start" [name]="componente.icon" color="tertiary"></ion-icon>
            {{componente.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

