<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crear mantención
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll-y="true">
  <ion-card>
<ion-col>
  <div class="ion-padding-start ion-padding-end">

    <ion-item>
      <ion-select name="selvehiculo" label="Seleccionar vehículo (*)" labelPlacement="stacked" label-placement="floating" (ionChange)="onVehicleSelect($event)" required>
        <ion-select-option *ngFor="let dato of datosV" [value]="dato.id">
          {{ dato.nombrevehiculo }} - Patente {{dato.patente}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="nombremantencion" type="text" label="Nombre mantenimiento (*)" labelPlacement="stacked" [clearInput]="true" [(ngModel)]="newDatoM.nombremantencion" required></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-select name="nivelurgencia" label="Nivel de urgencia (*)" labelPlacement="stacked" label-placement="floating" [(ngModel)]="newDatoM.nivelurgencia" required>
        <ion-select-option value="Nivel bajo">Bajo</ion-select-option>
        <ion-select-option value="Nivel medio">Medio</ion-select-option>
        <ion-select-option value="Nivel alto">Alto</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-datetime name="fechahora" color="tertiary" 
                    displayFormat="DD/MM/YYYY HH:mm" 
                    pickerFormat="DD MMM YYYY HH:mm"
                    min="{{ today | date:'yyyy-MM-dd' }}"
                    [(ngModel)]="newDatoM.fechahora">
        <span slot="time-label">Hora</span>
      </ion-datetime>
    </ion-item>
    <br>
    <ion-label class="ion-padding">(*) Campos obligatorios</ion-label>
    <br><br><br>
    <ion-item>
      <ion-textarea name="detalle" class="responsive-textarea" label="Detalle" fill="outline" labelPlacement="floating" placeholder="" style="height: 200px;" [(ngModel)]="newDatoM.detalle"></ion-textarea>
    </ion-item>
    <br>

<div class="align-right">
  <ion-button id="open-loading" expand="block" type="submit" (click)="addDatosMantencion()" color="tertiary" class="ion-padding-start ion-padding-end">Crear</ion-button>
  <ion-loading trigger="open-loading" message="Guardando" duration="1000" spinner="circles"></ion-loading>
</div>

  </div>
</ion-col>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon name="home" color="tertiary"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="personal" href="/personal">
          <ion-icon name="person" color="tertiary"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon name="car" color="tertiary"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>

        <ion-tab-button page="Mantenciones" href="/mantenciones">
          <ion-icon name="build" color="tertiary"></ion-icon>
          <ion-label>Mantenciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>