<ng-container>
  <ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button (click)="mostrarMenu()">
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>        
        </ion-button>
      </ion-buttons>
  
      <ion-title>Dashboard</ion-title>
  
      <ion-buttons slot="end">
        <div [routerLink]="['/perfil', currentUserId]" class="user-profile-container">
          <ion-text class="ion-padding-end">
            <ion-title>Bienbenido {{ userName }}</ion-title>
          </ion-text>
          <ion-avatar>
            <img [src]="userPhotoUrl" 
                 (error)="userPhotoUrl = 'assets/default-avatar.svg'"
                 alt="Perfil"
                 onerror="this.src='assets/default-avatar.svg'">
          </ion-avatar>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="dashboard-container">
      <!-- Left Sidebar -->
      <div class="sidebar">
        <div class="logo-container">
          <ion-img src="assets/img/smcb.png"></ion-img>
        </div>
        <div class="menu-container">
          <ion-button expand="block" color="tertiary" class="menu-button" href="/vehiculos">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            Vehículos
          </ion-button>
          <ion-button expand="block" color="tertiary" class="menu-button" href="/mantenciones">
            <ion-icon name="build-outline" slot="start"></ion-icon>
            Mantenciones
          </ion-button>
          <ion-button expand="block" color="tertiary" class="menu-button" href="/personal">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Personal
          </ion-button>
        </div>
      </div>
  
      <!-- Main Content -->
      <div class="main-content">
        <!-- Top Chart Section -->
        <ion-card class="chart-card">
          <ion-card-header color="tertiary">
            <ion-card-title>Mantenciones últimos 30 días</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="chart-container">
              <canvas id="maintenanceChart"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
  
        <!-- Bottom Section -->
        <div class="bottom-grid">
          <!-- Calendar Section -->
          <ion-card class="calendar-card">
            <ion-card-header color="tertiary">
              <ion-card-title>Próximas mantenciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-maintenance-calendar 
  [mantenciones]="calendarMantenciones"
></app-maintenance-calendar>
            </ion-card-content>
          </ion-card>
  
          <!-- Vehicle List Section -->
          <ion-card class="vehicles-card">
            <ion-card-header color="tertiary">
              <ion-card-title>Vehículos No disponibles</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let vehicle of filteredVehicles$ | async" [routerLink]="['/perfilvehiculo', vehicle.id]">
                  <ion-icon name="car-sport-outline" slot="start" color="tertiary"></ion-icon>
                  <ion-label>
                    <h2>{{ vehicle.nombrevehiculo }}</h2>
                    <p>Patente: {{ vehicle.patente }} <br> Estado: {{ vehicle.estado }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>