<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear vehículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true">
<ion-col class="ion-padding">
  <div class="ion-padding-start ion-padding-end">
    <ion-item>
      <ion-input label="Nombre vehículo" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Marca" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Modelo" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Año" type="number" labelPlacement="stacked" placeholder="" [counter]="true" maxlength="4" [clearInput]="true" (ionInput)="validarLargoAno($event)"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Patente" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-label>Subir Imagen </ion-label><ion-icon name="cloud-upload-outline"></ion-icon>
    <ion-item>
      <input type="file" accept="image/*" />
    </ion-item>
    <br>

<div class="align-right">
  <ion-button class="ion-padding-start ion-padding-end">Crear</ion-button>
</div>
  </div>
</ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="personal" href="/personal">
          <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button page="Notificaciones" href="/notificaciones">
          <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>