<!-- login.page.html -->
<ion-content class="ion-padding">
  <div class="login-container">
    <form (ngSubmit)="login()" class="login-form">
      <ion-img [src]="logoSrc" class="logo"></ion-img>
      
      <h2 class="form-title">Iniciar sesión</h2>
      
      <ion-item class="custom-input">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      
      <ion-item class="custom-input">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="toggleShowPassword()" class="password-toggle"></ion-icon>
      </ion-item>
      
      <ion-button expand="block" type="submit" class="custom-button">
        Iniciar sesión
      </ion-button>
    </form>
    
    <ion-button expand="block" fill="clear" routerLink="/recuperar-password" class="forgot-password-button">
      ¿Olvidaste tu contraseña?
    </ion-button>
  </div>
</ion-content>