<ion-split-pane contentId="main-content" when="md">
  <!-- Sidebar -->
  <ion-menu contentId="main-content">
    <ion-header>

    </ion-header>

    <ion-content>
      <ion-img  
        [src]="darkMode ? 'assets/img/SMCB-dark-mode.svg' : 'assets/img/SMCB-normal.svg'" 
        class="sidebar-logo">
      </ion-img>
      <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
          <!-- Dashboard -->
          <ion-item routerLink="/home" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <!-- Reportes -->
          <ion-item routerLink="/reportes" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="bar-chart"></ion-icon>
            <ion-label>Reportes</ion-label>
          </ion-item>

          <!-- Crear Mantención -->
          <ion-item routerLink="/crearmantencion" routerDirection="root" routerLinkActive="selected-item"
                    *ngIf="!['Bombero', 'Mecánico'].includes(userData?.rol)">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            <ion-label>Crear Mantención</ion-label>
          </ion-item>

          <!-- Crear Vehículo -->
          <ion-item routerLink="/crearvehiculo" routerDirection="root" routerLinkActive="selected-item"
                    *ngIf="!['Bombero', 'Mecánico'].includes(userData?.rol)">
            <ion-icon slot="start" name="car"></ion-icon>
            <ion-label>Crear Vehículo</ion-label>
          </ion-item>

          <!-- Crear Personal -->
          <ion-item routerLink="/crearpersonal" routerDirection="root" routerLinkActive="selected-item"
                    *ngIf="!['Bombero', 'Mecánico'].includes(userData?.rol)">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>Crear Personal</ion-label>
          </ion-item>
        
          <!-- Personal -->
          <div class="sidebar-footer">
          <ion-item routerLink="/personal" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Personal</ion-label>
          </ion-item>

          <!-- Vehículos -->
          <ion-item routerLink="/vehiculos" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="car-sport"></ion-icon>
            <ion-label>Vehículos</ion-label>
          </ion-item>

          <!-- Mantenciones -->
          <ion-item routerLink="/mantenciones" routerDirection="root" routerLinkActive="selected-item">
            <ion-icon slot="start" name="build"></ion-icon>
            <ion-label>Mantenciones</ion-label>
          </ion-item>
        </div>
        </ion-menu-toggle>

        <!-- Footer options -->
        <div class="sidebar-footer">
        <br>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Modo Oscuro</ion-label>
            <ion-toggle [checked]="darkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
          </ion-item>

          <ion-item (click)="signOut()" button>
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido Principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Crear vehículo</ion-title>
        <ion-buttons slot="end">
          <div [routerLink]="['/perfil', currentUserId]" style="display: flex; align-items: center; cursor: pointer;">
            <ion-text class="ion-padding-end">
              <strong>{{ userName }}</strong>
            </ion-text>
            <ion-avatar>
              <img [src]="userPhotoUrl" 
                   (error)="userPhotoUrl = 'assets/default-avatar.svg'"
                   alt="Perfil">
            </ion-avatar>
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" [fullscreen]="true" scroll-y="true">
      <ion-card>
        <ion-col class="ion-padding">
          <div class="ion-padding-start ion-padding-end">
            <ion-item>
              <ion-input name="nombrevehiculo" label="Nombre vehículo (*)" labelPlacement="stacked" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.nombrevehiculo" required>
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-select name="marca" labelPlacement="stacked" [(ngModel)]="newDatoV.marca" required>
                <div slot="label">Marca (*)</div>
                <ion-select-option value="Chevrolet">Chevrolet</ion-select-option>
                <ion-select-option value="Ford">Ford</ion-select-option>
                <ion-select-option value="Hyundai">Hyundai</ion-select-option>
                <ion-select-option value="Iveco">Iveco</ion-select-option>
                <ion-select-option value="Mercedes Benz">Mercedes Benz</ion-select-option>
                <ion-select-option value="Nissan">Nissan</ion-select-option>
                <ion-select-option value="Renault">Renault</ion-select-option>
                <ion-select-option value="Scania">Scania</ion-select-option>
                <ion-select-option value="Toyota">Toyota</ion-select-option>
                <ion-select-option value="Volvo">Volvo</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item>
              <ion-input name="modelo" labelPlacement="stacked" label="Modelo (*)" placeholder="" [clearInput]="true" [(ngModel)]="newDatoV.modelo" required>
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input name="anio" labelPlacement="stacked" type="number" label="Año (*)" placeholder="" [counter]="true" maxlength="4" [clearInput]="true" (ionInput)="validarLargoAno($event)" [(ngModel)]="newDatoV.anio" required>
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input 
                name="patente" 
                label="Patente (*)" 
                labelPlacement="stacked" 
                placeholder="Sin puntos ni guiones"
                [clearInput]="true"
                [(ngModel)]="newDatoV.patente"
                (ionInput)="validarPatente($event)"
                maxlength="6"
                [counter]="true"
                required>
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-select name="estado" labelPlacement="stacked" [(ngModel)]="newDatoV.estado" required>
                <div slot="label">Estado del vehículo (*)</div>
                <ion-select-option value="Operativo">Operativo</ion-select-option>
                <ion-select-option value="En mantenimiento">En mantenimiento</ion-select-option>
              </ion-select>
            </ion-item>
            <br>
            <ion-label class="ion-padding">(*) Campos obligatorios</ion-label>
            <br><br><br>
            <ion-label class="ion-padding">Subir Imagen </ion-label><ion-icon name="cloud-upload-outline"></ion-icon>
            <ion-item>
              <input name="imagen" type="file" accept="image/*" (change)="onFileSelected($event)" />
            </ion-item>
            <br>

            <div class="align-right">
              <ion-button id="open-loading" expand="block" type="submit" (click)="addDatosVehiculo()" color="tertiary" class="ion-padding-start ion-padding-end">Crear</ion-button>
              <ion-loading trigger="open-loading" message="Guardando" duration="1000" spinner="circles"></ion-loading>
            </div>
          </div>
        </ion-col>
      </ion-card>
    </ion-content>
  </div>
</ion-split-pane>