/* Añadir esta clase en tu archivo CSS */
.align-right {
    display: flex;
    justify-content: flex-end;
  }

.list-container {
  max-height: 550px; /* Ajusta la altura máxima deseada */
  overflow-y: auto;
}
