<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true">
<ion-col class="ion-padding">
  <div class="ion-padding-start ion-padding-end">
    <ion-item>
      <ion-input label="Nombres" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Apellidos" labelPlacement="stacked" placeholder="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Número de teléfono" type="tel" labelPlacement="stacked" [counter]="true" maxlength="11" placeholder="569" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Email" type="email" labelPlacement="stacked" errorText="Formato de correo incorrecto" ngModel
      email placeholder="correo@dominio.com" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Contraseña" type="password" labelPlacement="stacked" value="" [clearInput]="true"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-select label="Rango" label-placement="floating">
        <ion-select-option value="idrango1">Capitán</ion-select-option>
        <ion-select-option value="idrango2">Comandante</ion-select-option>
        <ion-select-option value="idrango3">Teniente</ion-select-option>
        <ion-select-option value="idrango4">Voluntario</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-label>Subir Imagen </ion-label><ion-icon name="cloud-upload-outline"></ion-icon>
    <ion-item>
      <input type="file" accept="image/*" />
    </ion-item>
    <br>

<div class="align-right">
  <ion-button class="ion-padding-start ion-padding-end">Crear</ion-button>
</div>
  </div>
</ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button page="Home" href="/home">
          <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="personal" href="/personal">
          <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button page="vehiculos" href="/vehiculos">
          <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
          <ion-label>Vehículos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button page="Notificaciones" href="/notificaciones">
          <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>