<ion-app>

  <ion-menu *ngIf="showMenu" side="start" menuId="hamburguesa" contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <br>
      <ion-img [src]="darkMode ? 'assets/img/SMCB-dark-mode.svg' : 'assets/img/SMCB-normal.svg'" class="ion-padding-start ion-padding-end"></ion-img>
      <br>
      <br>
      <h3 class="ion-padding-start ion-padding-end">Bienvenido</h3>
      <ion-list>
        <ion-item>
          <ion-icon name="moon-outline" slot="start"></ion-icon>
          <ion-label>Modo oscuro</ion-label>

        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

